body{
    margin:0;
    padding:0;
    font-family:"roboto",sans-serif;
}
header{
    position: fixed;
    background: #0b315c;
    padding: 20px;
    width: 100%;
    height:1.875rem;
}
.left_area h3{
    color:#fff;
    margin:0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.left_area span{
    color:#4b92e3;    
}
.logout_btn{
    padding:5px;
    background: #0f47fc;
    text-decoration: none;
    float: right;
    margin-top: -1.875rem;
    margin-right:42.5rem;
    border-radius: 2px;
    font-size:15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property:background;
}
.logout_btn:hover{
    background: #072ead;
}
.sidebar{
    background: #031652;
    margin-top: 4.375rem;
    padding-top: 1.875rem;
    position: fixed;
    left:0;
    width:15.625rem;
    height:100%;
    transition: 0.5s;
    transition-property:left;
}
.sidebar .Profile_image{
    width:6.25rem;
    height:6.25rem;
    border-radius:100px;
    margin-bottom: 0.625rem;
    margin-left:30%;
}
.sidebar h4{
    color:#ccc;
    margin-top:0;
    margin-bottom: 1.25rem;
    text-align: center;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height:3.75rem;
    text-decoration: none;
    padding-left:40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:background;
}
.sidebar a:hover{
    background:#3251b3;
}
.sidebar i{
    padding-right:10px;
}
label #sidebar_btn{
    z-index:1;
    position: fixed;
    color: #fff;
    cursor: pointer;
    left: 10.625rem;
    font-size: 20px;
    margin:5px 0;
    transition: 0.5s;
    transition-property:color;
}
label #sidebar_btn:hover{
    color:#3a63e0;
}
#check:checked ~ .sidebar{
    left: -11.875rem;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left:10.625rem;
    width:80px;
}
.content{
    margin-left:250px;
    background: url(./photo-3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    transition: 0.5s;
}
#check:checked ~ .content{
    margin-left:3.75rem;
}
#check{
    display: none;
}

